.hero__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-size: 10.5rem;
  font-weight: bold;
  width: auto;
  color: var(--main-blue);
  margin-bottom: 4rem;
  text-align: center;
}

.hero__title:hover {
  animation: flash;
  animation-duration: 1s;
  cursor: pointer;
}

.hero__description {
  font-size: 2rem;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 2rem;
  width: 80%;
}
