.hero__social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.hero__social_item {
  font-size: 1.2rem;
}

.hero__social_link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--dark-gray);
}

.hero__social_link:hover {
  color: var(--main-brown);
}

.hero__social_icon {
  font-size: 2rem;
  padding-bottom: 5px;
}
