.hero__content {
  width: 50%;
}
.hero__title {
  font-size: 9rem;
  font-weight: bold;
  width: auto;
  color: var(--main-blue);
  margin-bottom: 4rem;
}

.hero__description {
  font-size: 2rem;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 2rem;
  width: 70%;
  margin: 0 auto;
}
