@import './hero__profile.css';
@import './hero__content.css';
@import './hero__social.css';

.site__hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-gray);
  margin-bottom: 10rem;
}
