@import './portfolio__featured.css';

.portfolio__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5em;
  max-width: 100%;
  padding: 2em;
  grid-template-areas:
    'p1 p1 p2 p2'
    'p1 p1 p2 p2'
    'p3 p3 p4 p4'
    'p3 p3 p4 p4';
}

@media (max-width: 768px) {
  .portfolio__gallery {
    grid-template-areas:
      'p1 p1 p1 p1'
      'p2 p2 p2 p2'
      'p3 p3 p3 p3'
      'p4 p4 p4 p4';
  }
}
