@import 'site__header_info.css';
@import 'site__nav.css';

.site__header {
  grid-area: header;
  background-color: var(--light-gray);
}

.site__header_container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
