@import './education__content.css';

.site__education {
  padding: 10rem 4rem;
  background-color: var(--light-gray);
  margin-bottom: 12rem;
}

@media (max-width: 495px) {
  .site__education {
    padding: 5rem 2rem;
  }
}
