.portfolio__title {
  text-align: center;
}

.portfolio__featured_content {
  background-color: var(--main-dark-blue);
  width: auto;
  height: 6rem;
  transition: all 0.5s ease-in-out;
  color: white;
  padding: 2rem;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.featured__info {
  font-size: 1.1rem;
}

.featured__link {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

.featured__link:hover {
  color: var(--main-brown);
}

.featured__link:first-child {
  border-right: 1px solid white;
  padding-right: 1em;
}

.featured__link:nth-child(2) {
  padding-left: 1em;
}
