.about__description {
  font-size: 1.2rem;
  line-height: 1.8rem;
  word-spacing: 0.1em;
  width: 53%;
}

.about__description p {
  margin-bottom: 1.5rem;
  font-family: var(--roboto-font);
}

.about__sign {
  margin-top: 3rem;
  width: 300px;
}

.about__sign img {
  width: inherit;
}
