.nav__list {
  display: flex;
}

.nav__list_item {
  padding-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav__list_link {
  text-decoration: none;
  color: var(--main-blue);
}

.nav__list_link:hover {
  color: var(--main-light-blue);
}
